In [6]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plot
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

# Opening files

In [7]:
#On online version
#df = pd.read_csv('/data_mlhep2017/episode1/DS_1_train.csv', index_col=0)

#On my MAC
df = pd.read_csv('../OPERA_competition_draft_train/DS_1_train.csv', index_col=0)
edata = pd.read_csv('../OPERA_competition_draft_train/DS_1_electron_train.csv')
df.head()

,event_id,X,Y,Z,TX,TY,chi2,signal
index,,,,,,,,
0,-999,61300.121094,64934.265625,28446.0,0.286310,0.096968,1.195497,False
1,-999,49399.164062,63663.652344,54306.0,0.037705,0.097359,1.820736,False
2,-999,58955.164062,33590.734375,24567.0,0.421410,-0.039955,2.799580,False
3,-999,57421.613281,34333.390625,11637.0,0.118750,-0.498493,2.725356,False
4,-999,58730.507812,60918.179688,58185.0,-0.085305,0.078348,2.814739,False

In [8]:
edata.head()

,index,event_id,P,X,Y,Z,TX,TY
0,0,2573,4.751912,39813.222656,16733.853516,37461.781250,0.080777,0.067206
1,1,5435,11.581161,49247.546875,66064.312500,27072.914062,-0.124120,0.004981
2,2,4110,4.723818,40268.484375,15453.179688,8178.457031,0.037599,0.175117
3,3,6421,5.161797,40988.937500,42040.226562,21976.783203,-0.053018,-0.021330
4,4,9112,4.461930,42774.335938,35231.640625,15610.662109,-0.144262,0.159017

# Ordering the files by Z

In [9]:
df_sorted = df.sort_values('Z')
edata_sorted=edata.sort_values("Z")
print(df_sorted[100000:100010])
print(edata_sorted)

         event_id             X             Y       Z        TX        TY  \
index
1218777      -999  31534.365234  38999.617188  2586.0  0.314918 -0.042039
1757055      -999  35936.109375  35514.851562  2586.0 -0.127902  0.057180
190604       -999  53047.664062  65176.546875  2586.0 -0.043155 -0.057980
2570490      -999  56963.757812  54584.421875  2586.0 -0.014621  0.238039
1022997      -999  44988.484375  49598.718750  2586.0 -0.176693 -0.039658
2767893      -999  63002.500000  51954.195312  2586.0  0.162277  0.117746
2182888      -999  52160.628906  71229.656250  2586.0 -0.354688  0.049665
13536        -999  60774.476562  51638.742188  2586.0 -0.165904 -0.130227
1536659      -999  40192.316406  76067.578125  2586.0  0.316443 -0.021540
1240776      -999  54029.382812  54941.335938  2586.0 -0.269624 -0.579148

             chi2  signal
index
1218777  2.423497   False
1757055  2.369020   False
190604   2.282372   False
2570490  1.515122   False
1022997  2.624574   False
2767893  2.535905   False
2182888  2.488189   False
13536    2.883679   False
1536659  2.237872   False
1240776  2.897580   False
    index  event_id          P             X             Y             Z  \
95     95      6379   4.908444  61581.230469  56746.187500   1610.210938
49     49      7912   4.887714  45663.402344  26191.689453   2879.476562
65     65      5769   5.561945  57816.867188  61231.113281   2879.714844
6       6      4591   6.155734  47030.628906  31481.748047   2880.687500
34     34      6210   3.887639  46229.281250  26340.458984   2883.746094
62     62      2016   7.906490  54264.792969  51997.156250   2884.355469
78     78      9111   4.195238  48146.671875  56526.242188   3087.496094
97     97       873   4.163773  58946.589844  25489.738281   4157.355469
17     17      3977   8.533427  46405.054688  52360.859375   5427.064453
42     42      7341   6.961802  48035.785156  46070.984375   5428.152344
99     99      2322   8.302976  39306.320312  48331.292969   5429.660156
82     82      4194   7.373008  50119.769531  46822.773438   5430.445312
29     29      7042   1.107901  43300.562500  26618.783203   5632.994141
33     33      9553   5.324803  57617.570312  33348.746094   6699.910156
73     73      5240  15.070691  45026.960938  64254.148438   6700.929688
10     10       705  14.947838  55893.011719  56512.023438   7975.564453
30     30      2273   4.390428  41067.464844  44967.066406   7975.841797
2       2      4110   4.723818  40268.484375  15453.179688   8178.457031
68     68      8058   6.562771  43470.105469  38475.640625   9248.646484
26     26      4327   2.114547  40046.976562  30535.730469  10520.304688
47     47      8911   4.958010  39218.859375  55753.515625  10524.103516
45     45      9443   2.099004  53273.546875  35934.363281  10723.843750
14     14      8824   3.301038  51396.113281  57260.195312  11793.123047
58     58      2266   6.046733  61308.144531  13711.841797  11794.611328
54     54       443   9.424229  39103.667969  28531.500000  13064.072266
31     31      5212   1.685419  57943.144531  64075.070312  13067.841797
18     18      5516   4.981215  42735.675781  31140.367188  13069.394531
39     39      1682   1.641166  43562.128906  35081.742188  14338.970703
79     79      4949   9.183078  42593.199219  43068.246094  14340.914062
64     64      3568  11.525627  46518.191406  42497.203125  14341.169922
..    ...       ...        ...           ...           ...           ...
8       8      6174   6.374466  39565.863281  33927.718750  28345.142578
77     77      3507   9.603010  46958.324219  53915.765625  28550.533203
35     35      1782   1.782268  43392.980469  35617.773438  29613.476562
83     83       677   2.519514  48570.609375  49387.277344  29613.511719
40     40      4663  11.415328  48228.664062  34236.660156  29613.570312
43     43      1662   3.313920  55381.312500  52852.363281  29616.632812
63     63      5495  14.396456  41954.238281  21250.308594  30889.267578
27     27      4611   5.109687  59369.710938  46325.703125  30890.015625
52     52      6471   8.394773  39844.164062  52094.632812  30890.998047
25     25      7417   9.044942  62125.964844  62543.906250  31093.457031
81     81      7569   5.801834  41160.769531  24897.103516  32159.689453
76     76      4509  11.219978  38126.320312  39407.097656  32161.271484
87     87      9316   1.908130  56357.914062  66428.765625  32163.451172
21     21       946   8.744118  60517.464844  56964.507812  32364.031250
91     91       135   2.186306  58094.703125  38122.855469  33436.335938
92     92       288   1.619295  56731.007812  21426.865234  33640.750000
38     38      3865   3.826175  50261.902344  32268.695312  34708.667969
20     20      4144   9.144979  54115.761719  48412.359375  34709.343750
74     74      6689   2.279643  46361.207031  58768.609375  34710.882812
61     61      8070   4.318019  52436.339844  63013.492188  35980.597656
84     84      1751  83.654533  58036.292969  19061.060547  35981.039062
85     85       321   1.946248  58661.328125  65262.843750  37251.636719
67     67      3735   2.744508  43602.769531  40914.093750  37251.980469
36     36      5612   4.393655  45807.152344  44020.355469  37253.183594
69     69      5024   9.206349  50413.117188  37715.398438  37254.066406
41     41      1228   1.190468  44075.394531  38674.507812  37254.746094
16     16      8057   7.029825  58690.929688  63056.796875  37254.941406
55     55      3187  11.620140  57554.343750  58774.535156  37255.507812
89     89      4577   8.545272  43026.281250  49774.269531  37258.589844
0       0      2573   4.751912  39813.222656  16733.853516  37461.781250

          TX        TY
95 -0.022151  0.004860
49  0.084916  0.120731
65  0.011183 -0.008571
6  -0.108520 -0.143507
34 -0.028774  0.006321
62  0.038235  0.093335
78 -0.031963 -0.022169
97  0.011678  0.015996
17  0.050361 -0.063720
42  0.000988  0.092784
99  0.075321  0.096394
82 -0.016100  0.000410
29 -0.204757  0.083239
33 -0.168620  0.085737
73 -0.020935  0.036787
10  0.069263 -0.047085
30 -0.000144  0.157034
2   0.037599  0.175117
68 -0.012832  0.047782
26 -0.081171  0.182462
47 -0.026020  0.261858
45 -0.063730  0.058409
14  0.097391 -0.169161
58 -0.150151  0.190669
54  0.070353  0.025257
31 -0.162653  0.048326
18  0.047925  0.141406
39  0.260618 -0.192260
79  0.104460  0.026675
64 -0.054991  0.084372
..       ...       ...
8  -0.065849  0.130511
77 -0.117982  0.096910
35 -0.095553 -0.328452
83  0.159734  0.010918
40 -0.056123  0.178966
43 -0.029556  0.094907
63 -0.061798  0.047023
27  0.145445  0.332687
52 -0.034315  0.124196
25 -0.070741  0.033057
81  0.015848 -0.054507
76  0.043692  0.036248
87  0.109467  0.104113
21 -0.076685 -0.044387
91 -0.086441  0.248904
92 -0.103451 -0.190375
38  0.012087 -0.218603
20  0.049499  0.105116
74  0.123900 -0.129218
61  0.059228 -0.006887
84 -0.028799  0.083718
85 -0.062865 -0.089604
67 -0.093850 -0.047771
36  0.158231  0.075119
69  0.006465 -0.072830
41  0.185747  0.155739
16  0.072816 -0.089955
55  0.017452 -0.068856
89 -0.017997  0.062761
0   0.080777  0.067206

[100 rows x 8 columns]

# Creating some functions

In [10]:
def distance3D(x1,y1,z1,x2,y2,z2):
    return np.sqrt((x1-x2)**2+(y1-y2)**2+(z1-z2)**2)
def distance2D(x1,y1,x2,y2):
    return np.sqrt((x1-x2)**2+(y1-y2)**2)
def e_projection(x,theta,Dplate):
    return x+theta*Dplate*1293
def projection(x,theta,DZ):
    return x+theta*DZ
def ComputeIP(p_xBT,p_yBT,x0,y0):
    return distance2D(p_xBT,p_yBT,x0,y0)
def plate(z):
    return (z/1293)

# Adding plate to datasets

In [11]:
e_plt = pd.Series(plate(edata_sorted['Z']).astype(int))
edata_sorted = edata_sorted.assign(e_plt=e_plt.values)
#print(plt)

df_plt=pd.Series(plate(df_sorted['Z']))
df_sorted = df_sorted.assign(df_plt=df_plt.values)
#print(df_sorted[100000:100010])

# Selecting BT in cone around electron

In [12]:
train_df = np.array([])
#train_db = np.array([])
for i in range(len(edata_sorted)/100):
    df_sorted_zcut = df_sorted[df_sorted['Z']>edata_sorted['Z'][i]]
    #df_sorted_zcut = df_sorted
    xe = e_projection(edata_sorted['X'][i],edata_sorted['TX'][i],df_sorted_zcut['df_plt']-edata_sorted['e_plt'][i])
    ye = e_projection(edata_sorted['Y'][i],edata_sorted['TY'][i],df_sorted_zcut['df_plt']-edata_sorted['e_plt'][i])
    ze = df_sorted_zcut['Z']
    dist = distance3D(xe,ye,ze,edata_sorted['X'][i],edata_sorted['Y'][i],edata_sorted['Z'][i])
    R = np.tan(0.05)*dist
    #print(R)
    d = distance2D(df_sorted_zcut['X'],df_sorted_zcut['Y'],xe,ye)
    #print(dist)
    #BT_Theta = np.sqrt(pow(df_sorted_zcut['TX'],2)+pow(df_sorted_zcut['TY'],2))
    sel_BT = df_sorted_zcut[d<R]
    #sel_BT = df_sorted_zcut
    #print(df_sorted.shape,df_sorted_zcut.shape,sel_BT.shape)
    if i==1:
        fig, ax = plot.subplots()
        ax.scatter(sel_BT["X"],sel_BT["Z"])
        plot.show()
        fig1 = plot.figure()
        ax1 = fig1.add_subplot(111, projection='3d')
        ax1.scatter(sel_BT["X"],sel_BT["Y"],sel_BT["Z"])
    #sel_BT.append(df_sorted_zcut[(BT_Theta - e_Theta)*1000 < 50])
    DSX = pd.Series(sel_BT['TX']-edata_sorted['TX'][i])
    sel_BT = sel_BT.assign(DSX = DSX.values)
    DSY = pd.Series(sel_BT['TY']-edata_sorted['TY'][i])
    sel_BT = sel_BT.assign(DSY = DSY.values)
    p_xBT = projection(sel_BT['X'],sel_BT['TX'],sel_BT['Z']-edata_sorted['Z'][i])
    p_yBT = projection(sel_BT['Y'],sel_BT['TY'],sel_BT['Z']-edata_sorted['Z'][i])
    IP = pd.Series(ComputeIP(p_xBT,p_yBT,edata_sorted['X'][i],edata_sorted['Y'][i]))
    sel_BT = sel_BT.assign(IP = IP.values)
    xe1 = e_projection(edata_sorted['X'][i],edata_sorted['TX'][i],sel_BT['df_plt']-edata_sorted['e_plt'][i])
    ye1 = e_projection(edata_sorted['Y'][i],edata_sorted['TY'][i],sel_BT['df_plt']-edata_sorted['e_plt'][i])
    ze1 = sel_BT['Z']
    dist1 = distance3D(xe1,ye1,ze1,edata_sorted['X'][i],edata_sorted['Y'][i],edata_sorted['Z'][i])
    alpha = pd.Series(np.arctan(distance2D(sel_BT['X'],sel_BT['Y'],xe1,ye1)/dist1))
    sel_BT = sel_BT.assign(alpha = alpha.values)
    train_df=np.append(train_df,sel_BT.values[:, 6:13])
    train_db = np.concatenate(sel_BT.values[:, 6:13])
    #if i==0:
     #   print(sel_BT[0:10])

#np.reshape(train_df,[-1,10])
#train_db = pd.DataFrame({'chi2':train_df[:,0],'signal':train_df[:,0],'IP':train_df[:,12]})

In [1]:
train_df=train_df.reshape(4731881/7,7)

NameError: name 'train_df' is not defined

In [13]:
print(sel_BT)

         event_id             X             Y        Z        TX        TY  \
index
242039       -999  40094.617188  17057.236328  40083.0 -0.591313  0.219475
2055563      -999  40150.660156  16980.027344  40083.0 -0.022545  0.414053
143180       2573  40128.011719  16928.189453  41376.0  0.079522  0.049329
2350863      -999  40317.914062  16946.339844  41376.0  0.267243 -0.394410
1763774      2573  40140.675781  16954.013672  41376.0  0.098846  0.067056
2511382      -999  40262.335938  16907.062500  41376.0  0.088095  0.027288
2741876      2573  40125.964844  16939.115234  41376.0  0.108720  0.031721
1015944      -999  40101.785156  17076.085938  41376.0 -0.475893 -0.034645
1595325      2573  40228.972656  16994.232422  42669.0  0.077536  0.050828
1121616      -999  40195.664062  17193.664062  42669.0  0.134691 -0.216164
115327       2573  40264.816406  17035.001953  42669.0  0.096209  0.078050
2529715      -999  40196.941406  17219.498047  42669.0 -0.129018 -0.244810
2230659      -999  40161.406250  17179.980469  42669.0  0.410100  0.248410
1486736      2573  40355.285156  16938.259766  42669.0  0.217753 -0.013163
2541403      -999  40483.589844  17214.304688  43962.0  0.190067  0.054446
2542205      -999  40339.484375  17546.613281  43962.0  0.094624 -0.268555
2239503      2573  40326.652344  17057.966797  43962.0  0.072089  0.050319
351198       2573  40324.089844  17067.103516  43962.0 -0.026570  0.055984
1590859      2573  40387.636719  17127.154297  43962.0  0.077043  0.035426
1322135      2573  40332.144531  17059.818359  43962.0  0.087707  0.048905
1376803      2573  40339.628906  17058.802734  43962.0  0.084400 -0.041490
945804       -999  40336.476562  17172.976562  43962.0  0.353590  0.188932
935084       2573  40336.187500  17057.685547  43962.0  0.089133  0.048440
1131467      -999  40635.109375  17507.292969  43962.0  0.130190  0.390848
1359534      -999  40511.781250  17207.964844  43962.0 -0.141629  0.524572
2364424      2573  40418.109375  17122.595703  45255.0  0.067495  0.051643
2624475      2573  40265.945312  17130.974609  45255.0 -0.066971  0.100934
1647116      -999  40374.828125  17392.425781  45255.0 -0.056603  0.299833
984629       2573  40496.910156  17064.412109  45255.0  0.314498  0.378131
1963435      2573  40440.792969  17104.826172  45255.0  0.176892 -0.063504
...           ...           ...           ...      ...       ...       ...
661658       -999  43011.390625  18330.126953  73701.0 -0.502883  0.186477
2432942      -999  42933.160156  18722.109375  73701.0 -0.385082  0.066843
1394647      -999  42535.226562  18234.957031  73701.0 -0.105115  0.295359
1177458      -999  41704.085938  20244.248047  73701.0 -0.433910  0.419271
664554       -999  42527.992188  19540.041016  73701.0  0.137221  0.260324
2551533      -999  42155.953125  20145.943359  73701.0 -0.109617  0.001749
1432945      -999  44593.000000  19331.802734  73701.0 -0.307347  0.118694
2242814      -999  43320.890625  20959.828125  73701.0  0.000521  0.115672
1818523      -999  43573.839844  18914.064453  73701.0  0.074888  0.111514
1303656      -999  42631.507812  19333.195312  73701.0 -0.302772 -0.048782
1032462      -999  42398.625000  19513.279297  73701.0  0.102158 -0.407906
24177        -999  41201.414062  19772.359375  73701.0 -0.080450  0.111189
2165485      -999  44070.281250  20133.646484  73701.0  0.014788  0.349926
964024       -999  43155.507812  18646.644531  73701.0  0.024628  0.409496
743264       -999  43433.960938  18188.339844  73701.0  0.232868 -0.408603
938768       -999  41272.359375  18990.699219  73701.0  0.146057 -0.510352
1348364      -999  42338.296875  18271.140625  73701.0  0.374740  0.474581
1132310      -999  42536.796875  20473.304688  73701.0 -0.234859  0.238867
2549866      -999  42278.984375  20854.531250  73701.0  0.051879 -0.007078
2077215      -999  42953.289062  18151.433594  73701.0 -0.099981  0.362919
1220388      -999  41730.484375  20447.203125  73701.0  0.026507 -0.212826
1390400      -999  42720.125000  17768.578125  73701.0  0.336086  0.383315
2205439      -999  41503.714844  18464.486328  73701.0 -0.186347 -0.319829
2740256      -999  42121.046875  20701.980469  73701.0  0.084840 -0.066657
2163810      -999  44166.628906  18751.597656  73701.0  0.135826  0.543350
2202935      -999  42655.296875  19044.058594  73701.0  0.615476  0.243852
2597585      -999  43664.562500  17867.087891  73701.0 -0.309617 -0.049200
2204956      -999  42888.421875  18810.730469  73701.0 -0.170833 -0.098028
1909987      -999  41956.875000  17718.125000  73701.0  0.168397  0.030106
1821071      -999  43179.984375  20677.722656  73701.0  0.037593  0.207134

             chi2  signal  df_plt       DSX       DSY            IP     alpha
index
242039   2.013279   False    31.0 -0.672090  0.152269   1554.631886  0.026517
2055563  2.011239   False    31.0 -0.103322  0.346847   1360.279886  0.010607
143180   0.582969    True    32.0 -0.001255 -0.017877    736.235226  0.046691
2350863  2.953841   False    32.0  0.186466 -0.461616   2043.823202  0.040629
1763774  0.924132    True    32.0  0.018069 -0.000150    862.114671  0.039505
2511382  2.559064   False    32.0  0.007318 -0.039918    841.871523  0.044804
2741876  0.496779    True    32.0  0.027943 -0.035485    808.457118  0.044732
1015944  2.449542   False    32.0 -0.556670 -0.101851   1587.689068  0.032715
1595325  0.631868    True    33.0 -0.003241 -0.016378    973.270657  0.038844
1121616  2.175717   False    33.0  0.053914 -0.283371   1271.981212  0.027045
115327   0.740682    True    33.0  0.015432  0.010844   1186.617424  0.028726
2529715  2.998582   False    33.0 -0.209795 -0.312016    840.083642  0.028109
2230659  1.974715   False    33.0  0.329323  0.181204   3032.322734  0.033204
1486736  0.424671    True    33.0  0.136976 -0.080369   1681.446123  0.043948
2541403  1.646775   False    34.0  0.109290 -0.012760   2080.480260  0.009140
2542205  2.229962   False    34.0  0.013847 -0.335761   1474.099024  0.047009
2239503  0.521449    True    34.0 -0.008688 -0.016887   1178.317900  0.034707
351198   0.926375    True    34.0 -0.107347 -0.011222    774.842269  0.033709
1590859  0.786919    True    34.0 -0.003734 -0.031780   1242.950317  0.021113
1322135  0.812915    True    34.0  0.006930 -0.018301   1265.131562  0.034050
1376803  0.291359    True    34.0  0.003623 -0.108696   1076.443774  0.033652
945804   2.801744   False    34.0  0.272813  0.121726   3277.413399  0.020168
935084   0.322738    True    34.0  0.008356 -0.018767   1274.015058  0.034045
1131467  1.957767   False    34.0  0.049413  0.323642   3710.198058  0.048627
1359534  2.539978   False    34.0 -0.222406  0.457366   3890.288388  0.013133
2364424  1.316303    True    35.0 -0.013282 -0.015563   1380.190184  0.032245
2624475  1.367674    True    35.0 -0.147748  0.033728   1185.740613  0.044476
1647116  2.736885   False    35.0 -0.137380  0.232626   2997.655383  0.022517
984629   0.897698    True    35.0  0.233721  0.310925   4535.128812  0.035871
1963435  1.672263    True    35.0  0.096115 -0.130710   2009.953240  0.032966
...           ...     ...     ...       ...       ...           ...       ...
661658   2.786105   False    57.0 -0.583660  0.119271  17192.109750  0.025757
2432942  2.900509   False    57.0 -0.465859 -0.000363  11698.438424  0.014799
1394647  2.487707   False    57.0 -0.185892  0.228153  12253.020272  0.029184
1177458  2.680076   False    57.0 -0.514687  0.352065  23264.292253  0.041362
664554   2.689713   False    57.0  0.056444  0.193118  14454.024565  0.011656
2551533  2.695017   False    57.0 -0.190394 -0.065458   3838.580159  0.030864
1432945  2.098902   False    57.0 -0.388124  0.051488   9382.335442  0.048042
2242814  1.262529   False    57.0 -0.080256  0.048465   9126.674436  0.048569
1818523  2.396439   False    57.0 -0.005889  0.044308   8979.148168  0.022129
1303656  2.868881   False    57.0 -0.383549 -0.115988   8196.210040  0.006174
1032462  2.153019   False    57.0  0.021381 -0.475112  13549.868678  0.014094
24177    1.736787   False    57.0 -0.161227  0.043983   7231.020017  0.047168
2165485  2.255892   False    57.0 -0.065989  0.282720  16779.909855  0.041420
964024   1.373685   False    57.0 -0.056149  0.342290  17279.557539  0.018744
743264   1.086917   False    57.0  0.152091 -0.475809  17992.726916  0.033425
938768   2.290817   False    57.0  0.065280 -0.577558  17585.797122  0.043636
1348364  1.784045   False    57.0  0.293963  0.407375  24706.485096  0.030286
1132310  2.051026   False    57.0 -0.315636  0.171661  13680.333477  0.034471
2549866  2.670628   False    57.0 -0.028898 -0.074284   5815.321099  0.046515
2077215  1.839986   False    57.0 -0.180758  0.295712  14577.473833  0.030387
1220388  2.507673   False    57.0 -0.054270 -0.280032   4927.091734  0.044710
1390400  1.351937   False    57.0  0.255309  0.316109  21222.104714  0.040860
2205439  2.776081   False    57.0 -0.267124 -0.387035  11083.482288  0.042601
2740256  2.847882   False    57.0  0.004063 -0.133863   5601.795433  0.044349
2163810  1.872443   False    57.0  0.055049  0.476144  23606.964885  0.038840
2202935  2.144269   False    57.0  0.534699  0.176646  27506.445306  0.007707
2597585  2.612792   False    57.0 -0.390394 -0.116406   7397.520565  0.044202
2204956  2.929032   False    57.0 -0.251610 -0.165234   3447.426869  0.012222
1909987  2.020923   False    57.0  0.087620 -0.037100   8503.343738  0.048590
1821071  2.714537   False    57.0 -0.043184  0.139927  12388.386746  0.040123

[1451 rows x 13 columns]

### Build a train dataset
Ideally, you could design features here that improve model performance. 

Baseline, however, simply takes some of the features while also balansing classes.

In [ ]:
print(df[df.signal==True])

In [ ]:
print(df[df.signal==False])

### Train a model

In [357]:
#from sklearn.tree import DecisionTreeClassifier
#clf = DecisionTreeClassifier(max_depth = 7)

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=7,min_samples_leaf=3)
clf.fit(X_train,y_train)

#to define best classifier, look at accuracy or ROC curve

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=7, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=3,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

### Prediction

In [343]:
df_test = pd.read_csv('../OPERA_competition_draft_train/DS_1_test.csv', index_col=0)
edata_test = pd.read_csv('../OPERA_competition_draft_train/DS_1_electron_test.csv')
df_test.head()

                  X             Y        Z        TX        TY      chi2
index
0      37259.390625  62516.367188  63357.0 -0.475465 -0.250186  1.405402
1      41426.312500  57520.265625  25860.0 -0.213876  0.155208  2.541856
2      40752.921875  54653.265625  46548.0  0.044215 -0.333426  2.389629
3      29293.980469  23582.425781  14223.0 -0.265671 -0.137444  2.402328
4      49538.128906  63314.617188  31032.0 -0.063467 -0.550298  1.223460

In [344]:
edata_test.head()

              X             Y             Z        TX        TY
0  46654.187500  59809.707031  20703.253906 -0.022536  0.031416
1  40420.898438  22858.601562  13067.279297 -0.019237  0.032119
2  46282.644531  11399.347656  32160.285156 -0.062326 -0.026023
3  54976.289062  45914.261719  20705.671875 -0.176683  0.145312
4  48062.531250  38878.863281  13068.060547  0.132127  0.215309

In [345]:
e_plt = pd.Series(plate(edata_test['Z']).astype(int))
edata_test = edata_test.assign(e_plt=e_plt.values)
#print(plt)

df_plt=pd.Series(plate(df_test['Z']))
df_test = df_test.assign(df_plt=df_plt.values)

In [346]:
test_df = np.array([])
for i in range(len(edata_test)/100):
    #df_test_zcut = df_test[df_test['Z']>edata_test['Z'][i]]
    df_test_zcut = df_test
    xe = e_projection(edata_test['X'][i],edata_test['TX'][i],df_test_zcut['df_plt']-edata_test['e_plt'][i])
    ye = e_projection(edata_test['Y'][i],edata_test['TY'][i],df_test_zcut['df_plt']-edata_test['e_plt'][i])
    ze = df_test_zcut['Z']
    dist = distance3D(xe,ye,ze,edata_test['X'][i],edata_test['Y'][i],edata_test['Z'][i])
    R = np.tan(0.05)*dist
    #print(R)
    d = distance2D(df_test_zcut['X'],df_test_zcut['Y'],xe,ye)
    #print(dist)
    #BT_Theta = np.sqrt(pow(df_test_zcut['TX'],2)+pow(df_test_zcut['TY'],2))
    #sel_BT_test = df_test_zcut[d<R]
    sel_BT_test = df_test_zcut
    #print(df_test.shape,df_test_zcut.shape,sel_BT.shape)
    #if i==1:
        #fig, ax = plot.subplots()
        #ax.scatter(sel_BT["X"],sel_BT["Z"])
        #plot.show()
        #fig1 = plot.figure()
        #ax1 = fig1.add_subplot(111, projection='3d')
        #ax1.scatter(sel_BT["X"],sel_BT["Y"],sel_BT["Z"])
    #sel_BT.append(df_test_zcut[(BT_Theta - e_Theta)*1000 < 50])
    DSX = pd.Series(sel_BT_test['TX']-edata_test['TX'][i])
    sel_BT_test= sel_BT_test.assign(DSX = DSX.values)
    DSY = pd.Series(sel_BT_test['TY']-edata_test['TY'][i])
    sel_BT_test= sel_BT_test.assign(DSY = DSY.values)
    p_xBT = projection(sel_BT_test['X'],sel_BT_test['TX'],sel_BT_test['Z']-edata_test['Z'][i])
    p_yBT = projection(sel_BT_test['Y'],sel_BT_test['TY'],sel_BT_test['Z']-edata_test['Z'][i])
    IP = pd.Series(ComputeIP(p_xBT,p_yBT,edata_test['X'][i],edata_test['Y'][i]))
    sel_BT_test= sel_BT_test.assign(IP = IP.values)
    xe1 = e_projection(edata_test['X'][i],edata_test['TX'][i],sel_BT_test['df_plt']-edata_test['e_plt'][i])
    ye1 = e_projection(edata_test['Y'][i],edata_test['TY'][i],sel_BT_test['df_plt']-edata_test['e_plt'][i])
    ze1 = sel_BT_test['Z']
    dist1 = distance3D(xe1,ye1,ze1,edata_test['X'][i],edata_test['Y'][i],edata_test['Z'][i])
    alpha = pd.Series(np.arctan(distance2D(sel_BT_test['X'],sel_BT_test['Y'],xe1,ye1)/dist1))
    sel_BT_test= sel_BT_test.assign(alpha = alpha.values)
    test_df=np.append(test_df,sel_BT_test.values[:, 5:12])

print(test_df)

[  1.40540183e+00   4.90000000e+01  -4.52928545e-01 ...,  -5.12078144e-02
   2.21472724e+04   3.65328969e-01]

In [347]:
test_df=test_df.reshape(test_df.size/6,6)

In [358]:
X_test = test_df[:,0].reshape(-1,1)
X_test = np.append(X_test, test_df[:,2:6], axis=1)

#print(X_train)

In [359]:
#prediction = clf.predict_proba(X_test.values[:, 0:5].reshape(-1, 1))[:, 1]
#prediction = clf.predict_proba(X_test.reshape(-1,5))[:, 1]
prediction = clf.predict_proba(X_test)[:, 1]
print(prediction.shape)

(1126099,)

### Save results

In [360]:
baseline = pd.DataFrame(prediction, columns=['Prediction'])
baseline.index.name = 'Id'
baseline.to_csv('Mybaseline_1.csv', header=True)

You can now download the baseline.csv in jupyter file browser and send it to Kaggle.